
&mot_batterydata {
	df-serialnum = "SB18C77591";
	qcom,batt-id-range-pct = <15>;
	#include "qg-batterydata-jk50-swd-5000mah.dtsi"
	#include "qg-batterydata-jk50-sunwoda-5000mah.dtsi"
	#include "qg-batterydata-jk50-atl-5000mah.dtsi"
};

&pm7250b_charger {
	qcom,fcc-max-ua = <3000000>;
	qcom,fv-max-uv = <4450000>;
	qcom,dcp-curr-max = <2000000>;
	qcom,thermal-mitigation = <3000000 2500000
			2000000 1500000
			1200000 900000
			600000>;
};

&pm7250b_mmi {
	qcom,mmi-temp-zones = <0 4200 1000 0>,
				<15 0 2500 2500>,
				<45 0 3000 3000>,
				<60 4200 3000 0>;
	qcom,iterm-ma = <243>;
};


&pm7250b_qg {
	qcom,qg-iterm-ma = <500>;
};

&tlmm {
	sc8549_int {
		sc8549_int_default: sc8549_int_default {
			mux {
				pins = "gpio84";
				function = "gpio";
			};

			config {
				pins = "gpio84";
				bias-pull-up;         /* PULL UP */
				input-enable;
			};
		};
	};
};

&qupv3_se8_i2c {
	status = "okay";

	sc8549-charger@6F{
		compatible = "sc,sc8549-standalone";
		reg = <0x6F>;
		interrupt-parent = <&tlmm>;
		interrupts = <84 0>;
		pinctrl-names = "default";
		pinctrl-0 = <&sc8549_int_default>;
		/*sc,sc8549,bat-ovp-disable;
		sc,sc8549,bat-ocp-disable;
		sc,sc8549,bus-ocp-disable;
		sc,sc8549,bus-ovp-disable;*/
		sc,sc8549,bat-therm-disable;
		sc,sc8549,bus-therm-disable;

		sc,sc8549,bat-ovp-threshold = <4575>;
		sc,sc8549,bat-ocp-threshold = <7000>;

		sc,sc8549,bus-ovp-threshold = <11000>;
		sc,sc8549,bus-ocp-threshold = <3500>;

		sc,sc8549,ac-ovp-threshold = <17>;
		sc,sc8549,sense-resistor-mohm = <5>;
	};
};

