/* Copyright (c) 2021, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/* This file is only for rtwo device */

#include "crow-eqe-products-common-overlay.dtsi"
#include "crow-eqe-fingerprint-overlay.dtsi"
#include "crow-eqe-sensors-overlay.dtsi"
#include "crow-moto-common-st-nfc.dtsi"
#include "crow-moto-common-charger.dtsi"
#include "crow-eqe-charger-overlay.dtsi"
#include "crow-eqe-thermal-overlay.dtsi"

&soc {
	mmi_relay {
		compatible = "mmi,sys-relay";
	};

};

&qseecom_mem {
	size = <0x0 0x1800000>;
};

&qseecom_ta_mem {
	size = <0x0 0x2000000>;
};

&tlmm {
	/* reserve FP GPIOs: gpio12,13,14,15 24 25 26 27 for NFC 111 112 for WLAN*/
	qcom,gpios-reserved = <12 13 14 15 24 25 26 27 111 112>;
};

