/* Copyright (c) 2021, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */
#include <dt-bindings/iio/qti_power_supply_iio.h>
#include "sgm7220.dtsi"
#include "discrete-rt-pd-manger.dtsi"

&pm6125_vadc {
	gpio6_div3{
		reg = <ADC5_GPIO3_DIV3>;
		label = "gpio3_div3";
		qcom,pre-scaling = <1 3>;
	};
};

&pm6125_gpios {
	gpio6_adc{
		gpio6_adc_default:gpio6_adc_default{
			pins = "gpio6";
			function = "normal";
			bias-high-impedance;
		};
	};
};

&qupv3_se8_i2c {
	status = "okay";
	cw2217@64 {
		compatible = "cellwise,cw2217";
		reg = <0x64>;
		status = "okay";

		df-serialnum = "SB18D33989";
		#include "bat_setting/CW_md50-amperex-5000mah.dtsi"
	};

	sm5602@71 {
		compatible = "sm,sm5602";
		reg = <0x71>;
		//interrupt-parent = <&tlmm>;
		//interrupts = <38 2>;
		//qcom,irq-gpio = <&tlmm 38 0x0>;

		sm,en_temp_ex;
		//sm,en_temp_in;
		sm,en_batt_det;
		//sm,iocv_man_mode;
		sm,misc = <0x0800>;
		sm,aging_ctrl = <0x0125>;
		sm,cycle_cfg = <0x7000>;
		sm,rsns = <0>;
		sm,fg_irq_set = <0x07FF>;
		sm,low_soc1 = <1>;
		sm,low_soc2 = <15>;
		sm,v_l_alarm = <3400>;
		sm,v_h_alarm = <4450>;
		sm,battery_table_num = <0>;
		sm,param_version = <2>;
		sm,t_l_alarm_in = <54>;
		sm,t_h_alarm_in = <1>;
		sm,t_l_alarm_ex = <0xD3D8>;
		sm,t_h_alarm_ex = <0x9245>;
		battery_params {
		//battery,id = <0>;
		//NE50(SWD)
		battery0,param_version = <2>;
		battery0,max_voltage_uv = <4450000>;
		battery0,battery_type = <4450 0x0 0x2600>;
		battery0,battery_table0 = <0x1400 0x1C6C 0x1CE7 0x1D42 0x1D64 0x1D84 0x1D91 0x1D9B
						0x1DD6 0x1E0A 0x1E39 0x1E77 0x1ECB 0x1F2B 0x1F59 0x1FE1
						0x200E 0x20E1 0x2195 0x2214 0x226A 0x230B 0x234E 0x2733>;
		battery0,battery_table1 = <0x0 0x85 0x193 0x2A0 0x327 0x435 0x650 0xA86 0xEBC 0x13FF
					 	0x1942 0x2127 0x2BAE 0x3393 0x3635 0x3B78 0x3E1A 0x48A1
						0x5086 0x55C9 0x5979 0x60D7 0x6400 0x64E6>;
		battery0,battery_table2 = <0x1C28 0x1618 0x1415 0x1112 0x1010 0x0F0F 0x0E0E 0x0E0E>;
		battery0,alpha = <0x00CC>;
		battery0,beta = <0x0025>;
		battery0,rs = <0x805F>;
		battery0,rs_value = <0x0050 0x010A 0x3800 0x0048>;
		battery0,vit_period = <0x325A>;
		battery0,volt_cal = <0x8000>;
		battery0,mix_value = <0x0003>;
		battery0,curr_offset = <0x000>;
		battery0,curr_slope = <0x8080>;
		battery0,topoff_soc = <7 343>;
		battery0,temp_std = <25>;
		battery0,temp_offset = <0 11 1 0 8 (-1)>;
		battery0,temp_cal = <0 6 1 11 (-1) 0 6 1 9 1>;
		battery0,ext_temp_cal = <0 2 1 2 1 0 2 3 2 3>;
		battery0,tem_poff = <3400 100>;
	        battery0,thermal_table = <0x3EEF 0x3957 0x3234 0x2C25 0x2654 0x2089 0x1B71 0x1574 0x1068 0x0B3C
					0x0640 0x0181 0xF4FA 0xF09D 0xEC1E 0xE82D 0xE3B3 0xDFE0 0xDC28 0xD88E
					0xD580 0xD22A 0xCF03 0xCC0B 0xC944 0xC68E 0xC405 0xC169 0xBF0F 0xBCFD
					0xBABE 0xB889 0xB692 0xB4AB 0xB2E5 0xB127 0xAF8E 0xAE0F 0xAC8A 0xAB1E
					0xA9E9 0xA888 0xA742 0xA620 0xA4A5 0xA39C 0xA2A5 0xA1BE 0xA0CF 0x9FF9
					0x9F2C 0x9E67 0x9DA0 0x9CEC 0x9C43 0x9BA1 0x9AFF 0x9A6F 0x99D9 0x9950
					0x98D0 0x9857 0x97E8 0x9776 0x96FD 0x9695 0x9632 0x95D5 0x9579 0x9522
					0x94CF 0x9480 0x9434 0x93EB 0x93A4 0x9361 0x9322 0x92E7 0x92AF 0x9278
					0x9242 0x920E 0x91DD 0x91AF 0x9181 0x9156 0x912E 0x9107 0x90E2 0x90BF
					0x909C 0x907A 0x905A 0x903B 0x901E 0x9003 0x8FE7 0x8FCE 0x8FB4 0x8F9D
					0x8F85>;  //NTC value(DEC) table -20~80
			//NE50(ATL)
		battery1,param_version = <2>;
		battery1,max_voltage_uv = <4450000>;
		battery1,battery_type = <4450 0x0 0x2666>;
		battery1,battery_table0 = <0x1400 0x1C9E 0x1D11 0x1D72 0x1D83 0x1D88 0x1D90 0x1DB5
						0x1DE7 0x1E11 0x1E44 0x1E78 0x1F09 0x1F62 0x1FB2 0x1FE2
						0x200E 0x20DC 0x218F 0x220C 0x2261 0x2301 0x2344 0x2733>;
		battery1,battery_table1 = <0x0 0x84 0x18F 0x31F 0x42A 0x534 0x74A 0xB74 0xF9F 0x14D4
						0x1A0A 0x21DA 0x317A 0x36AF 0x394A 0x3BE5 0x3E7F 0x48EA
						0x50BA 0x55EF 0x5995 0x60DF 0x6400 0x64E6>;
		battery1,battery_table2 = <0x1F2D 0x181A 0x1516 0x1213 0x1111 0x1010 0x0F0F 0x0F0F>;
		battery1,alpha = <0x00CC>;
		battery1,beta = <0x0025>;
		battery1,rs = <0x805F>;
		battery1,rs_value = <0x0050 0x010A 0x3800 0x0048>;
		battery1,vit_period = <0x325A>;
		battery1,volt_cal = <0x8000>;
		battery1,mix_value = <0x0003>;
		battery1,curr_offset = <0x000>;
		battery1,curr_slope = <0x8080>;
		battery1,topoff_soc = <7 343>;
		battery1,temp_std = <25>;
		battery1,temp_offset = <0 11 1 0 8 (-1)>;
		battery1,temp_cal = <0 6 1 11 (-1) 0 6 1 9 1>;
		battery1,ext_temp_cal = <0 2 1 2 0 0 2 3 2 3>;
		battery1,tem_poff = <3400 100>;
	        battery1,thermal_table = <0x3EEF 0x3957 0x3234 0x2C25 0x2654 0x2089 0x1B71 0x1574 0x1068 0x0B3C
					0x0640 0x0181 0xF4FA 0xF09D 0xEC1E 0xE82D 0xE3B3 0xDFE0 0xDC28 0xD88E
					0xD580 0xD22A 0xCF03 0xCC0B 0xC944 0xC68E 0xC405 0xC169 0xBF0F 0xBCFD
					0xBABE 0xB889 0xB692 0xB4AB 0xB2E5 0xB127 0xAF8E 0xAE0F 0xAC8A 0xAB1E
					0xA9E9 0xA888 0xA742 0xA620 0xA4A5 0xA39C 0xA2A5 0xA1BE 0xA0CF 0x9FF9
					0x9F2C 0x9E67 0x9DA0 0x9CEC 0x9C43 0x9BA1 0x9AFF 0x9A6F 0x99D9 0x9950
					0x98D0 0x9857 0x97E8 0x9776 0x96FD 0x9695 0x9632 0x95D5 0x9579 0x9522
					0x94CF 0x9480 0x9434 0x93EB 0x93A4 0x9361 0x9322 0x92E7 0x92AF 0x9278
					0x9242 0x920E 0x91DD 0x91AF 0x9181 0x9156 0x912E 0x9107 0x90E2 0x90BF
					0x909C 0x907A 0x905A 0x903B 0x901E 0x9003 0x8FE7 0x8FCE 0x8FB4 0x8F9D
					0x8F85>;  //NTC value(DEC) table -20~80
	    };
	};

	sgm4154x: sgm4154x@3B {
		status = "okay";
		compatible = "sgm,sgm41542";
		reg = <0x3B>;

		pinctrl-names = "default";
		pinctrl-0 = <&gpio6_adc_default &chg_irq_default>;
		io-channels = <&pm6125_vadc ADC5_GPIO3_DIV3>;
		io-channel-names = "gpio3_div3";

		interrupt-parent = <&tlmm>;
		interrupts = <12 0>;            //irq num base on hardware design
		sgm,irq-gpio = <&tlmm 12 0>;     //irq num base on hardware design
		sgm,chg-en-gpio = <&tlmm 92 0>;   //gpio num base on hardware design  1.MTK parent node name is pio  2.QUALCOMM parent node name is tlmm or other

		dpdm-supply = <&qusb_phy0>;
		mmi,qc3-support;

		/* sw jeita  parameter customer defined*/
		enable_sw_jeita;
		jeita_temp_above_t4_cv = <0>;
		jeita_temp_t3_to_t4_cv = <4100000>;
		jeita_temp_t2_to_t3_cv = <4350000>;
		jeita_temp_t1_to_t2_cv = <4350000>;
		jeita_temp_t0_to_t1_cv = <0>;
		jeita_temp_below_t0_cv = <0>;

		jeita_temp_above_t4_cc_current = <0>;
		jeita_temp_t3_to_t4_cc_current = <1000000>;
		jeita_temp_t2_to_t3_cc_current = <1250000>;
		jeita_temp_t1_to_t2_cc_current = <1000000>;
		jeita_temp_below_t0_cc_current = <0>;

		temp_t4_thres = <50>;
		temp_t4_thres_minus_x_degree = <48>;
		temp_t3_thres = <45>;
		temp_t3_thres_minus_x_degree = <45>;
		temp_t2_thres = <20>;
		temp_t2_thres_plus_x_degree = <15>;
		temp_t1_thres = <0>;
		temp_t1_thres_plus_x_degree = <0>;
		temp_t0_thres = <0>;
		temp_t0_thres_plus_x_degree = <2>;
		temp_neg_10_thres = <0>;
	};

};

&soc {
	mmi_charger: mmi,charger {
		status = "ok";
		compatible = "mmi,mmi-charger";
		mmi,enable-charging-limit;
		mmi,upper-limit-capacity = <65>;
		mmi,lower-limit-capacity = <60>;
		mmi,heartbeat-interval = <100000>;
		mmi,dcp-power-max = <10000>;
		mmi,hvdcp-power-max = <15000>;
	};

	mmi_discrete_charger: mmi,discrete-charging {
		status = "ok";
		compatible = "mmi,mmi-discrete-charger";
		#io-channel-cells = <1>;
		battery-names = "battery";
		supplied-from = "mmi_battery";

		mmi,chrg-iterm-ma = <243>;
		mmi,fg-iterm-ma = <500>;
		mmi,max-fv-mv = <4450>;
		mmi,max-fcc-ma = <4000>;
		mmi,demo-fv-mv = <4000>;
		mmi,df-serialnum = "SB18C77591";
		mmi,mmi-temp-zones = <0 4200 1000 0>,
			<10 4250 2500 1000>,
			<15 0 2500 2500>,
			<45 0 4000 4000>,
			<60 4200 4000 0>;

		mmi,thermal-mitigation = <4000000 3000000 2500000
				2000000 1500000
				1200000 900000
				600000 300000>;
		};
};


&tlmm {

	chg_irq_default: chg_irq_default {
		/* IRQ */
		mux {
			pins = "gpio12";
			function = "gpio";
		};

		config {
			pins = "gpio12";
			bias-pull-up;
			drive-strength = <2>; /* 2 MA */
			input-enable;
		};
	};
};
