
&qupv3_se13_spi {
	status = "disabled";
};
/*
&aliases {
	i2c1 = "/soc/i2c@988000";
};
*/
&qupv3_se13_i2c {
	status = "ok";
	cw2217b_flip: cw2217b-battery-flip@64 {
		compatible = "cellwise,cw2217";
		reg = <0x64>;
		sense_r_mohm = <5>;
		df-serialnum = "SB18D64677";
		vdd-i2c-supply = <&L18B>;
		fg-psy-name = "flip_battery";
		ibat-invert-polority;
		factory_mode_ntc_exist = <1>;
		#include "bat_setting/CW_PM08-atl-790mah.dtsi"
	};
};

&mmi_charger {
	mmi,pd-power-max = <30000>;
	mmi,upper-limit-capacity = <80>;
};

&battery_charger {
	mmi,combo-batt-psy = <&mmi_charger>;
	qcom,thermal-mitigation = <4675000 4000000 3500000 3000000 2500000 2000000 1000000 500000>;
	qcom,wireless-fw-name = "cps4019.bin";
};

&qti_glink_charger {
	mmi,main-battery-enabled;
	mmi,paired-id = <0x00010000>;
};

&bm_adsp_ulog {
	categories = /bits/ 64 <0x1FFFBFFFFF>;
};
