/* Copyright (c) 2022, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/*
   This base is original from "diwali-qrd-overlay.dts"
*/

#include <dt-bindings/interconnect/qcom,diwali.h>

#include "diwali-moto-common-overlay-base.dtsi"
#include "diwali-moto-pm8350b.dtsi"
#include "diwali-moto-common-overlay.dtsi"
#include "diwali-lynkco-touchscreen-overlay.dtsi"
#include "moto-lynkco-wl2864c.dtsi"
#include "diwali-lynkco-haptics-overlay.dtsi"
#include "diwali-lynkco-fingerprint-overlay.dtsi"
#include "diwali-moto-common-charger.dtsi"
#include "diwali-lynkco-charger-overlay.dtsi"
#include <dt-bindings/regulator/qcom,rpmh-regulator-levels.h>
#include "diwali-lynkco-evb-sensor-overlay.dtsi"
#include "diwali-moto-qca6490-overlay.dtsi"
#include "diwali-lynkco-nfc-overlay.dtsi"
#include "diwali-lynkco-thermal-overlay.dtsi"

&pm8010i_8 {
	status = "disabled";
};

&pm8010i_9 {
	status = "disabled";
};

&pm8010j_c {
	status = "disabled";
};

&pm8010j_d {
	status = "disabled";
};
&soc {
	usb_nop_phy: usb_nop_phy {
		compatible = "usb-nop-xceiv";
	};
};

&usb_qmp_dp_phy {
	status = "disabled";
};

&usb0 {
	dwc3@a600000 {
		usb-phy = <&usb2_phy0>, <&usb_nop_phy>;
		maximum-speed = "high-speed";
	};
};

&apps_rsc {
	rpmh-regulator-ldod1 {
		compatible = "qcom,rpmh-vrm-regulator";
		qcom,resource-name = "ldod1";
		qcom,regulator-type = "pmic5-ldo";
		qcom,supported-modes =
			<RPMH_REGULATOR_MODE_LPM
			 RPMH_REGULATOR_MODE_HPM>;
		qcom,mode-threshold-currents = <0 30000>;
		L1D: pm8350b_l1: regulator-pm8350b-l1 {
			regulator-name = "pm8350b_l1";
			qcom,set = <RPMH_REGULATOR_SET_ALL>;
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1296000>;
			qcom,init-voltage = <1260000>;
			qcom,init-mode = <RPMH_REGULATOR_MODE_HPM>;
		};
	};
};

&qupv3_se10_i2c {
       status = "disabled";
};

&qupv3_se10_spi {
       status = "disabled";
};
