/* Copyright (c) 2021, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/* This file is only for rtwo device */

#include "kalama-ctwo-products-common-overlay.dtsi"
#include "kalama-moto-common-charger.dtsi"
#include "kalama-ctwo-charger-overlay.dtsi"
#include "kalama-ctwo-haptics-overlay.dtsi"
#include "kalama-ctwo-fingerprint-overlay.dtsi"
#include "kalama-moto-common-st-nfc.dtsi"
#include "kalama-moto-velar-qorvo-uwb.dtsi"
#include "moto-ctwo-wl2868c.dtsi"
#include <dt-bindings/regulator/qcom,rpmh-regulator-levels.h>
#include "kalama-ctwo-touchscreen-overlay.dtsi"
#include "kalama-ctwo-evb-sensors-overlay.dtsi"
#include "kalama-ctwo-thermal-overlay.dtsi"

&soc {
	mmi_relay {
		compatible = "mmi,sys-relay";
	};

	lpd_mitigate: mmi,lpd-mitigate {
		compatible = "mmi,lpd-mitigate";
		mmi,mitigate-mode-cfg = <3>;
		mmi,default-mitigate-mode-cfg = <1>;
	};

	gpio_keys {
		pinctrl-0 = <&key_vol_up_default &google_key_default>;

		google_key {
			label = "google_key";
			gpios = <&tlmm 41 GPIO_ACTIVE_LOW>;
			linux,input-type = <1>;
			linux,code = <KEY_SEARCH>;
			gpio-key,wakeup;
			debounce-interval = <15>;
			linux,can-disable;
		};
	};
};

&tlmm {
	redriver_enable: redriver_enable {
		mux {
			pins = "gpio22";
			function = "gpio";
		};

		config {
			pins = "gpio22";
			drive-strength = <2>;
			bias-disable; /* NO PULL */
			output-high;
		};
	};
	redriver_disable: redriver_disable {
		mux {
			pins = "gpio22";
			function = "gpio";
		};

		config {
			pins = "gpio22";
			drive-strength = <2>;
			output-low;
		};
	};

	google_key_default: google_key_default {
		mux {
			pins = "gpio41";
			function = "gpio";
		};

		config {
			pins = "gpio41";
			drive-strength = <2>;
			bias-pull-up;
		};
	};
};

&qupv3_hub_i2c2 {
	status = "ok";
	#include "kalama-moto-common-redriver.dtsi"
};

&usb0 {
	ssusb_redriver = <&redriver>;
};

&pm8550b_eusb2_repeater {
	qcom,param-override-seq =
		/* <value reg_offset> */
		/* Adjust HS trasmit amplitude */
		<0xb 0x51
		/* HS disconnect threshold */
		 0x6 0x53
		/* Squelch detection threshold */
		 0x6 0x54
		/* Tx pre-emphasis tuning */
		 0x6 0x57>;

	qcom,host-param-override-seq =
		/* <value reg_offset> */
		/* Adjust HS trasmit amplitude */
		<0xa 0x51
		/* HS disconnect threshold */
		 0x6 0x53
		/* Squelch detection threshold */
		 0x5 0x54
		/* Tx pre-emphasis tuning */
		 0x6 0x57>;
};


&L2B {
	regulator-min-microvolt = <3000000>;
	regulator-max-microvolt = <3000000>;
	qcom,init-voltage = <3000000>;
	regulator-boot-on;
	regulator-always-on;
};

&tlmm {
        laser_xsdn_active: laser_xsdn_active {
		mux {
			pins = "gpio67";
			function = "gpio";
		};

		config {
			pins = "gpio67";
			drive-strength = <2>;
			bias-disable;
		};
	};

	laser_xsdn_suspend: laser_xsdn_suspend {
		mux {
			pins = "gpio67";
			function = "gpio";
		};

		config {
			pins = "gpio67";
			drive-strength = <2>;
			bias-pull-down; /* PULL DOWN */
		};
	};

	laser_int_active: laser_int_active {
		mux {
			pins = "gpio15";
			function = "gpio";
		};

		config {
			pins = "gpio15";
			drive-strength = <2>;
			bias-pull-up; /* PULL UP */
		};
	};

	laser_int_suspend: laser_int_suspend {
		mux {
			pins = "gpio15";
			function = "gpio";
		};

		config {
			pins = "gpio15";
			drive-strength = <2>;
			bias-pull-down; /* PULL DOWN */
		};
	};
};

&qupv3_se0_i2c {
	status = "okay";
	qcom,noise-rjct-scl = <3>;
	qcom,noise-rjct-sda = <3>;
	stmvl53l1@29 {
		status = "ok";
		compatible = "st,stmvl53l1";
		reg = <0x29>;
		vdd-vl53l1-supply = <&L2B>;
		gpios = <&tlmm 67 0>, <&tlmm 15 0>;
		pinctrl-names = "laser_default", "laser_suspend";
		pinctrl-0 = <&laser_xsdn_active &laser_int_active>;
		pinctrl-1 = <&laser_xsdn_suspend &laser_int_suspend>;
		st,sensorthreshold = <60 65>;
		st,xtalkval = <0x0 0x0 0x0>;
	};
};

&apps_rsc_drv2 {
       rpmh-regulator-ldob4 {
               compatible = "qcom,rpmh-vrm-regulator";
               qcom,resource-name = "ldob4";
               qcom,regulator-type = "pmic5-ldo";
               qcom,supported-modes =
                       <RPMH_REGULATOR_MODE_LPM
                        RPMH_REGULATOR_MODE_HPM>;
               qcom,mode-threshold-currents = <0 10000>;

               L4B: pm_humu_l4: regulator-pm-humu-l4 {
                       regulator-name = "pm_humu_l4";
                       qcom,set = <RPMH_REGULATOR_SET_ALL>;
                       regulator-min-microvolt = <1800000>;
                       regulator-max-microvolt = <1800000>;
                       qcom,init-voltage = <1800000>;
                       qcom,init-mode = <RPMH_REGULATOR_MODE_HPM>;
               };
       };
};
