/* Copyright (c) 2020, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

#include "lahaina-moto-common-overlay.dtsi"
#include "lahaina-moto-banks-display.dtsi"
#include "lahaina-banks-touchscreen.dtsi"
#include "lahaina-banks-fingerprint.dtsi"
#include "lahaina-banks-audio.dtsi"
#include "camera/lahaina-camera-sensor-mot-banks-overlay.dtsi"

/* No sd card */
&sdhc_2 {
	status = "disabled";
};

&qupv3_se11_i2c {
	status = "ok";

	io_exp: io_exp@34 {
		compatible = "ti,tca6418e";
		reg = <0x34>;
		gpio-controller;
		#gpio-cells = <2>;
		gpios = <&tlmm 78 GPIO_ACTIVE_LOW>; /* Reset gpio */
	};

	cam_pmic: slg51000@75{
		compatible = "dlg,slg51000";
		reg = <0x75>;

		interrupt-parent = <&tlmm>;
		interrupts = <32 IRQ_TYPE_LEVEL_LOW>;
		dlg,cs-gpios = <&io_exp 8 0x00>;

		pinctrl-names = "default";
		pinctrl-0 = <&rear_pmic_irq>;

		vin3-supply = <&pm8350c_bob>;
		vin4-supply = <&pm8350c_bob>;
		vin5-supply = <&pm8350_s12>;
		vin6-supply = <&pm8350_s12>;
		vin7-supply = <&pm8350c_bob>;

		regulators {
			cam_f_vdda_ldo: ldo1 {
				regulator-name = "ldo1";
				regulator-min-microvolt = <2400000>;
				regulator-max-microvolt = <3300000>;
			};

			cam_r_vdda_ldo: ldo2 {
				regulator-name = "ldo2";
				regulator-min-microvolt = <2400000>;
				regulator-max-microvolt = <3300000>;
			};

			cam_af_vdd_ldo: ldo3 {
				regulator-name = "ldo3";
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <3750000>;
			};

			ois_vdd_ldo: ldo4 {
				regulator-name = "ldo4";
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <3750000>;
			};

			cam_f_vddd_ldo: ldo5 {
				regulator-name = "ldo5";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1200000>;
			};

			cam_r_vddd_ldo: ldo6 {
				regulator-name = "ldo6";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1200000>;
			};

			cam_f_vio_ldo: ldo7 {
				regulator-name = "ldo7";
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <3750000>;
			};
		};
	};
};

&tlmm {
	uwb_irq: uwb_irq {
		mux {
			pins = "gpio51";
			function = "gpio";
		};

		config {
			pins = "gpio51";
			bias-pull-down;
		};
	};

	rear_pmic_irq: rear_pmic_irq {
		mux {
			pins = "gpio32";
			function = "gpio";
		};

		config {
			pins = "gpio32";
			bias-pull-up;
		};
	};
};

/* enable gpio6 as qup6 L4 to connect receiver spi cs*/
&qupv3_se6_spi_pins {
	qupv3_se6_spi_active: qupv3_se6_spi_active {
		mux {
			pins = "gpio28", "gpio29",
					"gpio30";
			function = "qup6";
		};

		config {
			pins = "gpio28", "gpio29",
					"gpio30";
			drive-strength = <6>;
			bias-disable;
		};
	};

	qupv3_se6_spi_sleep: qupv3_se6_spi_sleep {
		mux {
			pins = "gpio28", "gpio29",
					"gpio30";
			function = "gpio";
		};

		config {
			pins = "gpio28", "gpio29",
					"gpio30";
			drive-strength = <6>;
			bias-disable;
		};
	};

	qupv3_se6_spi_cs0_active: qupv3_se6_spi_cs0_active {
		mux {
			pins = "gpio31";
			function = "qup6";
		};

		config {
			pins = "gpio31";
			drive-strength = <6>;
			bias-disable;
		};
	};

	qupv3_se6_spi_cs0_sleep: qupv3_se6_spi_cs0_sleep {
		mux {
			pins = "gpio31";
			function = "gpio";
		};

		config {
			pins = "gpio31";
			drive-strength = <6>;
			bias-pull-up;
		};
	};

	qupv3_se6_spi_cs1_active: qupv3_se6_spi_cs1_active {
		mux {
			pins = "gpio6";
			function = "qup_l4";
		};

		config {
			pins = "gpio6";
			drive-strength = <6>;
			bias-disable;
		};
	};

	qupv3_se6_spi_cs1_sleep: qupv3_se6_spi_cs1_sleep {
		mux {
			pins = "gpio6";
			function = "gpio";
		};

		config {
			pins = "gpio6";
			drive-strength = <6>;
			bias-pull-up;
		};
	};
};

&qupv3_se6_spi {
	status = "ok";
	pinctrl-0 = <&qupv3_se6_spi_active &qupv3_se6_spi_cs0_active &qupv3_se6_spi_cs1_active>;
	pinctrl-1 = <&qupv3_se6_spi_sleep &qupv3_se6_spi_cs0_sleep &qupv3_se6_spi_cs1_sleep>;

	sr100@0 {
		compatible = "nxp,sr100";
		reg = <0>;
		nxp,sr100-irq = <&tlmm 51 0x00>;
		nxp,sr100-ce = <&io_exp 9 0x00>;
		nxp,sr100-ri = <&io_exp 10 0x00>;
		interrupt-parent = <&tlmm>;
		interrupts = <51 0>;
		spi-max-frequency = <20000000>;
		pinctrl-names = "default";
		pinctrl-0 = <&uwb_irq>;
	};
};
