/ {
	aliases {
	};
};

&soc {

	blsp1_uart5: serial@78b3000 { /* BLSP1 UART5 */
		compatible = "qcom,msm-uartdm-v1.4",
				"qcom,msm-uartdm";
		reg = <0x78b3000 0x200>;
		interrupts = <GIC_SPI 121 IRQ_TYPE_LEVEL_HIGH>;
		clock-names = "core", "iface";
		clocks = <&gcc GCC_BLSP1_UART5_APPS_CLK>,
				<&gcc GCC_BLSP1_AHB_CLK>;
		pinctrl-names = "default", "sleep";
		pinctrl-0 = <&blsp1_uart5_console_tx5_active>,<&blsp1_uart5_console_rx5_active>;
		pinctrl-1 = <&blsp1_uart5_console_tx5_sleep>,<&blsp1_uart5_console_rx5_sleep>;
		interconnect-names = "blsp-ddr";
		interconnects = <&pcnoc MASTER_BLSP_1 &pcnoc SLAVE_BLSP_1>;
		status = "disabled";
	};

	blsp1_uart3: uart@78b1000 {
		compatible = "qcom,msm-hsuart-v14";
		reg = <0x78b1000 0x200>,
			<0x7884000 0x2b000>;
		reg-names = "core_mem", "bam_mem";
		interrupt-names = "core_irq", "bam_irq", "wakeup_irq";
		#address-cells = <0>;
		interrupt-parent = <&blsp1_uart3>;
		interrupts = <0 1 2>;
		#interrupt-cells = <1>;
		interrupt-map-mask = <0xffffffff>;
		interrupt-map = <0 &intc 0 119 IRQ_TYPE_LEVEL_HIGH
				1 &intc 0 238 IRQ_TYPE_LEVEL_HIGH
				2 &tlmm 1 IRQ_TYPE_LEVEL_HIGH>;
		qcom,inject-rx-on-wakeup;
		qcom,rx-char-to-inject = <0xFD>;
		qcom,bam-tx-ep-pipe-index = <4>;
		qcom,bam-rx-ep-pipe-index = <5>;
		qcom,master-id = <86>;
		clock-names = "core_clk", "iface_clk";
		clocks = <&gcc GCC_BLSP1_UART3_APPS_CLK>,
				<&gcc GCC_BLSP1_AHB_CLK>;
		pinctrl-names = "sleep", "default";
		pinctrl-0 = <&blsp1_uart3_hs_tx_sleep>,<&blsp1_uart3_hs_rx_sleep>,
				<&blsp1_uart3_hs_cts_sleep>,<&blsp1_uart3_hs_rfr_sleep>;
		pinctrl-1 = <&blsp1_uart3_hs_tx_active>,<&blsp1_uart3_hs_rx_active>,
				<&blsp1_uart3_hs_cts_active>,<&blsp1_uart3_hs_rfr_active>;
		interconnect-names ="blsp-ddr";
		interconnects = <&pcnoc MASTER_BLSP_1 &bimc SLAVE_EBI_CH0>;
		status = "disabled";
	};
};
