&qupv3_se2_i2c {
	status = "ok";
	aw37004@28 {
		compatible = "awinic,aw37004";
		reg = <0x28>;
		// enable-gpio = <&tlmm 22 0>;
		enable-gpio = <&tlmm 56 0>;
		vdd1P8-gpio = <&tlmm 42 0>;
		status = "okay";

		dvdd1 {
			regulator-min-microvolt = <600000>;
			regulator-max-microvolt = <2130000>;
			regulator-active-discharge = <1>;
			regulator-always-on;
			init-voltage = <1600000>;
			ilimit-ua = <1300000>;
		};

		dvdd2 {
			regulator-min-microvolt = <600000>;
			regulator-max-microvolt = <2130000>;
			regulator-active-discharge = <1>;
			// regulator-always-on;
			init-voltage = <600000>;
			ilimit-ua = <1300000>;
		};

		avdd1 {
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <4387500>;
			regulator-active-discharge = <1>;
			// regulator-always-on;
			init-voltage = <1200000>;
			ilimit-ua = <480000>;
		};

		avdd2 {
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <4387500>;
			regulator-active-discharge = <1>;
			regulator-always-on;
			init-voltage = <3200000>;
			ilimit-ua = <480000>;
		};
	};
};
