/dts-v1/;
/plugin/;

#include "parrot-boston-common-overlay.dtsi"

/ {
	model = "boston";
	compatible = "qcom,parrot-qrd", "qcom,parrot", "qcom,qrd", "moto,boston";
	qcom,msm-id = <537 0x10000>;
	qcom,board-id = <0x44 0xB100>;
	qcom,pmic-id-size = <9>;
	qcom,pmic-id = <0x0 0x0 0x0 0x0 0x0 0x0 0x0 0x0 0x0>;
};

&pen_detect{
	/delete-property/ hall,nirq-gpio_1;
	/delete-property/ hall,nirq-gpio-high-val_1;
	/delete-property/ hall,nirq-gpio-low-val_1;
	hall,nirq-gpio-num = <1>;
};

