/* Copyright (c) 2021, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/*
   This file is only for leap device, na etc.
*/

#include "sun-leap-products-common-overlay.dtsi"
#include "sun-leap-haptics-overlay.dtsi"
#include "sun-moto-common-charger.dtsi"
#include "sun-leap-charger-overlay.dtsi"
#include "sun-leap-thermal-overlay.dtsi"

&usb_qmp_dp_phy {
	status = "disabled";
};

&usb0 {
	pinctrl-names = "default";
	pinctrl-0 = <&usb3phy_portselect_gpio>;
	gpios = <&tlmm 61 0>;

	dwc3@a600000 {
		usb-phy = <&eusb2_phy0>, <&usb_nop_phy>;
		maximum-speed = "high-speed";
		snps,usb2-gadget-lpm-disable;
		snps,usb2-lpm-disable;
	};
};

