/* Copyright (c) 2021, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/*
   This base is original from "waipio-mtp-pm8008-overlay.dts"
*/
#include "waipio-moto-common-overlay-base.dtsi"
#include "waipio-pm8008.dtsi"

#include "waipio-moto-common-overlay.dtsi"
#include "waipio-moto-common-redriver.dtsi"
#include "waipio-hiphi-fingerprint.dtsi"


&qupv3_se9_i2c {
	status = "ok";
	qcom,clk-freq-out = <1000000>;
	#address-cells = <1>;
	#size-cells = <0>;
	st21nfc@8 {
		compatible = "st,st21nfc";
		reg = <0x08>;
		st,irq_gpio = <&tlmm 46 0x00>;
		st,reset_gpio = <&tlmm 34 0x00>;
		st,clkreq_gpio = <&tlmm 35 0x00>;
		interrupt-parent = <&tlmm>;
		interrupts = <46 0>;
		interrupt-names = "nfc_irq";
		pinctrl-names = "nfc_active", "nfc_suspend";
		pinctrl-0 = <&nfc_int_active &nfc_enable_active>;
		pinctrl-1 = <&nfc_int_suspend &nfc_enable_suspend>;
	};
};

&qupv3_se18_i2c {
	status = "ok";
};

&redriver {
	status = "ok";
};

&tlmm {
	redriver_enable: redriver_enable {
		mux {
			pins = "gpio19";
			function = "gpio";
		};

		config {
			pins = "gpio19";
			drive-strength = <2>;
			bias-disable; /* NO PULL */
			output-high;
		};
	};
	redriver_disable: redriver_disable {
		mux {
			pins = "gpio19";
			function = "gpio";
		};

		config {
			pins = "gpio19";
			drive-strength = <2>;
			output-low;
		};
	};
};
